MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/minhtho-store?retryWrites=true&w=majority
JWT_ACCESS_KEY=your_access_secret_key_here
JWT_REFRESH_KEY=your_refresh_secret_key_here
PORT=5000
